html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(19%) saturate(2458%) 
    hue-rotate(214deg) brightness(93%) contrast(95%);

    --header-bg-color: #EEE;
    --top-act-group-bg-color: #FFF;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #EDEDF6;
}